# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Microsoft Visual Studios
*.sdf
*.opensdf
*.suo
*.v11.suo
StarEngine.v11.suo
